.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 10 10.3em 10.3em 10;
  border-radius:1.12em;
  box-sizing: border-box;

  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:black;
  text-align:center;
  transition: all 0.2s;
}


 